<footer>
  <div class="container-fluid text-light py-2">
    <div class="row">
      <div class="col-md-5 offset-md-1 align-self-center">
        FCTP | © 2020 All rights reserved
      </div>
      <div class="col-md-5 text-right" id="social-icons">
        <a href="https://www.facebook.com/frompocket.tocloset.7" class="p-1"
          ><img src="../../../assets/facebook-icon.png" alt="faceebook-icon"
        /></a>
        <a href="https://www.instagram.com/fromclosettopocket/" class="p-1"
          ><img src="../../../assets/instagram-icon.png" alt="instagram-icon"
        /></a>
        <a href="https://twitter.com/to_pocket" class="p-1"
          ><img src="../../../assets/twitter-icon.png" alt="twitter-icon"
        /></a>
        <a href="" class="p-1"
          ><img src="../../../assets/phone-icon.png" alt="phone-icon"
        /></a>
      </div>
    </div>
  </div>
</footer>
