<br>
<mat-form-field class="example-full-width" style="width: 25%;">
    <mat-label>Title of your product</mat-label>
    <input matInput placeholder="Ex. dress" value=""/>
  </mat-form-field>
  <br><br>
  <mat-form-field class="example-full-width" style="width: 25%;">
    <mat-label>Size of your product</mat-label>
    <mat-select>
      <mat-option value="XS">Extra Small</mat-option>
      <mat-option value="S">Small</mat-option>
      <mat-option value="M">Medium</mat-option>
      <mat-option value="L">Large</mat-option>
      <mat-option value="XL">Extra Large</mat-option>
    </mat-select>
  </mat-form-field>
  <br><br>
  <mat-form-field class="example-full-width" style="width: 25%;">
    <mat-label>Quantity of your product</mat-label>
    <input matInput placeholder="Ex. 10" type="number" value=""/>
  </mat-form-field>
  <br><br>
  <button class="btn btn-primary">Upload</button>
  