<br /><br /><br /><br /><br /><br /><br />
<div style="text-align: center;">
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <div>
      <input
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        #title="ngModel"
      />

      <div *ngIf="title.invalid">Please Enter a post title.</div>
    </div>

    <div>
      <input
        type="text"
        name="price"
        ngModel
        required
        minlength="3"
        #price="ngModel"
      />
      <div *ngIf="price.invalid">Please Enter a post price ($).</div>
    </div>

    <div>
      <textarea
        rows="6"
        name="content"
        ngModel
        required
        #content="ngModel"
      ></textarea>
      <div *ngIf="content.invalid">Please Enter a post content.</div>
    </div>

    <button color="accent" type="submit">
      Upload
    </button>
  </form>
</div>
