<mdb-card cascade="true" wider="true">
  <div class="user-detail">
    <div class="row">
      <div class="col-md-4">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://image.flaticon.com/icons/png/512/17/17004.png">
          </mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <form>
          <div class="form-row">
            <div class="col-md-6">
              <div class="md-form form-group">
                <input mdbInput type="email" class="form-control" id="inputEmail4MD" placeholder="Email" />
                <label for="inputEmail4MD">Email: </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="inputAddressMD" placeholder="1234 Main St" />
                <label for="inputAddressMD">Address: </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="inputAddress2MD" placeholder="Name" />
                <label for="inputAddress2MD">Name: </label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="inputNumberMD" placeholder="11206-1117" />
                <label for="inputNumberMD">Number: </label>
              </div>
            </div>
          </div>
          <button type="submit" mdbBtn color="primary">Change</button>
        </form>
      </div>
    </div>
  </div>
</mdb-card>