<mdb-card cascade="true" wider="true">
  <div class="user-detail">
    <div class="row">
      <div class="col-md-4">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://image.flaticon.com/icons/png/512/17/17004.png">
          </mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <form>
          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input mdbInput type="email" class="form-control" [formControl]="profileForm.controls['email']"
                  id="inputEmail4MD" placeholder="Email" />
                <label for="inputEmail4MD">Email: </label>
              </div>
            </div>
            <!-- Grid column -->
          </div>

          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input mdbInput [formControl]="profileForm.controls['username']" type="text" class="form-control"
                  id="inputAddressMD" placeholder="Username" />
                <label for="inputAddressMD">User name: </label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input mdbInput [formControl]="profileForm.controls['name']" type="text" class="form-control"
                  id="inputAddress2MD" placeholder="Name" />
                <label for="inputAddress2MD">Name: </label>
              </div>
            </div>
          </div>
          <button type="submit" (click)="updateProfile()" mdbBtn color="primary">Change</button>
        </form>
        <!-- Extended material form grid -->
      </div>
    </div>
  </div>
</mdb-card>