<section id="hero-section" class="text-light">
  <div class="container-fluid">
      <div class="row vh-100 align-items-center pb-5">
          <div class="col-12 text-center">
              <img id="hero-logo" src="../../../assets/hanger-logo.svg" alt="logo">
              <h1 class="display-2 font-weight-bold">YOUR CLOSET ON OUR PAGE</h1>
          </div>
      </div>
  </div>
  <a id="arrow-down" href="#menu-section"><img src="../../../assets/arrow-down.png" alt="see more"></a>
</section>

<div><app-post-list></app-post-list></div>
