.text-right {
  padding-top: 21px;
}

.user-details {
  padding-left: 7%;
  padding-right: 3%;
}

#icon {
  width: fit-content;
}
a{
  margin-right: 10px;
}
#shopping{
  margin-right: 85px;
}

#nav-bar-position{
  position: relative;
  bottom: 16px;
  left: 74px;
}

.shopping-cart-header{
  font-size: 17px
}

.shopping-cart-mobile{
  position: relative;
  left: 65px;
  font-size: 21px;
  top: -5px;
}
