.quantity-button{
  height: 5px;
  width: 30%;
}
.quantity{
  width: 10%;
  border:none;
  margin: 0px 4px 0px 11px;
}
.quantity-container{
  margin: 5%;
}
.popup{
  position: fixed;
  top: 100px;
  width: 56%;
  background: white;
  z-index: 999;
  padding: 70px;
  margin-left: 22%;

}
.blur{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000082;
  z-index: 998;
}
.right{
  position: relative;
    top: 2vw;
}  
h4{
  font-size: 0.9vw;
}
.close{
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-title{
  float:left;
  font-size: 2vw;
  text-transform:uppercase;
}
.product-price{
  margin-top: 30px;
}
.price{
  font-size: 3vw;
  position: fixed;
  margin: 6px;
  top: 51ox;
  color: #72a207;
}
.detail-row{
  margin-left: 0px!important;
  margin-right: 0px!important;
  margin-top: 20px;
}
.price-row{
  float: left;
}
#quantity{
  position: relative;
  top: 2vw;
  width: 80%;
  margin-left: 10%;
}

.addToCart{
  position: relative;
  border-radius: 7px;
  font-size: 0.6vw;
  bottom: 3v;
  top: 3vw;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
}

.card-text{
  position: inherit;
  padding-top: 10%;
}